section.technologies

    p Работаю с использованием
        ul.technologies__list
            li.technologies__item
                img(src='assets/images/sass.svg')
            li.technologies__item
                img(src='assets/images/pug.svg')
            li.technologies__item
                img(src='assets/images/gulp.svg')
            li.technologies__item
                img(src='assets/images/webpack.svg')